@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3b3e4b;
}

header {
    background: white;
    padding: 20px;
}

header>h1 {
    color: #3b3e4b;
    text-align: center;
    font-family: Fredoka One, sans-serif;
}

.scoreBoard {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4%;
    width: 200px;
    color: white;
    font-size: 40px;
    padding: 15px 20px;
    font-family: Fredoka One, sans-serif;
    font-weight: normal;
    text-align: center;
}

.badge {
    background: red;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Fredoka One, sans-serif;
    position: absolute;
}

#userBadge {
    position: relative;
    top: 35px;
    left: -45px;
    width: 50px;
}

#botBadge {
    position: relative;
    top: 15px;
    left: 150px;
    width: 50px;
}

.result {
    font-size: 40px;
    color: white;
    /* display: none; */
}

.result>p {
    text-align: center;
    font-weight: bold;
}

.choices {
    margin-top: 50px;
    text-align: center;
}

.choice {
    display: inline-block;
    border: 3px solid white;
    padding: 50px;
    border-radius: 50%;
    margin: 30px;
    transition: all 0.3s ease-in;
}

.choice>img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.choice:hover {
    cursor: pointer;
    background: #52fb1f;
}

#lastMessage {
    font-size: 45px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-family: Fredoka One, sans-serif;
    color: #1df5ea;
}

footer {
    box-sizing: content-box;
    border: 2px solid #f3ecec;
    margin: auto;
    width: 50%;
    margin-top: 225px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

footer>p>a{
    text-decoration: none;
}

footer:hover {
    background: greenyellow;
    border: 2px solid red;
    font-weight: bold;
    width: 15%;
}

footer>p {
    text-align: center;
}