@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3b3e4b;
}

header{
    background: white;
    pading: 20px
}

header > h1 {
    background:#3b3e4b;
    text-align: center;
    font-family: Fredoka One,sans-serif;
}

.scoreBoard {
    border: 3px solid white;
    width: 200px;
}